{% extends 'layout.html.twig' %}

{% block content %}
    {% set current_path = app.request.get('_route') %}
    {{ form_start(form, {'attr': {'id': 'add_task_form'}}) }}
        {{ form_errors(form) }}
        <label for="task_type">Select task type</label>
        <div id="task_type" class="btn-group">
            <a href="{{path('addTask')}}" class="btn btn-primary {{current_path == 'addTask' ? 'active' : ''}} btn-sm" aria-current="page">Plain Task</a>
            <a href="{{path('addShoppingTask')}}" class="btn btn-primary {{current_path == 'addShoppingTask' ? 'active' : ''}} btn-sm" aria-current="page">Shopping Task</a>
        </div>
        {{ form_row(form.title) }}
        {{ form_row(form.message) }}

        {{ form_row(form.save) }}
    {{ form_end(form) }}
    <a href="{{path('index')}}">
        <button type="button" class="btn btn-secondary">Back</button>
    </a>
{% endblock %}
