{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>

    {% if tasks|length > 0 %}
        {% for task in tasks %}
            <div class="card container-sm mt-2">
                <div class="card-body">
                    {% if task.type == "PlainTask" %}
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text">{{ task.message }}</p>
                        <a href="{{ path('removeTask', {id: task.id }) }}">Delete</a>
                        <a href="{{ path('updateTask', {id: task.id }) }}">Update</a>
                    {% else %}
                        <h5 class="card-title">{{ task.title }}</h5>
                        <ul>
                            {% for product in task.products %}
                                <li>{{ product }}</li>
                            {% endfor %}
                        </ul>
                        <a href="{{ path('removeShoppingTask', {id: task.id }) }}">Delete</a>
                        <a href="{{ path('updateShoppingTask', {id: task.id }) }}">Update</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No todo tasks added yet...</p>
    {% endif %}

    <div class="mt-3">
        <a href="{{ path('addTask') }}">+ Add task</a>
    </div>

{% endblock %}